body {
  min-height: 100vh;
	overflow: hidden;
  background-image: linear-gradient(transparent, #0c0f12 65%), url('../images/terrorists-standing.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
/*Container that scales with website, atleast with my dimensions and the tasks dimension*/
.title-container {
	height: 40vh;
	width: 50vw;
	max-width: 600px;
	display: flex;
	justify-content: flex-end;	
	align-items: flex-end;
}

/*Styling the title, adding some flair with hover*/
#title {
	transition: all 0.5s;
	color: white;
	font-family: 'CounterStrikeFont';
	font-size: 1.5rem;
	font-weight: 20;
}

#title:hover {
	transform: skewX(-20deg);
}

/*Styling button, pretty non dynamically :/ */
#button-wrapper {
	transition: all 1s;
	display: flex; 
	position: relative;
	align-items: flex-end;
	margin: auto;
	padding-bottom: 100px;
	width: 220px; 
	height: 200px;
}

#button-wrapper:hover {
	width: 300px;
}
	
#button-link {
	transition: all 1s;
	border: 3px solid white;
	width: 100%;
	height: 40%;
	color: white;
	text-align: center;
	line-height: 80px;
	text-decoration: none;
	font-size: 4rem;
	font-family: 'CounterStrikeFont';
}


#button-link:hover {
	border: 1.5px solid white;
	font-size: 3rem;
}

/* -- Declaring fonts -- */ 
@font-face {
    font-family: 'BohemianTypewriter' 
    src: url('../Fonts/BohemianTypewriter.ttf');
}

@font-face {
	font-family: 'CounterStrikeFont';
	src: url(../Fonts/cs_regular.ttf);
}

/*Ignore this part hehe <3 */
#easter-egg {
	display: flex;
	justify-content: flex-end;
}

#easter-egg-text {
	color: transparent;
}

#easter-egg-text:hover {
	color: white;
}
